
body{
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background :#42445A;
  flex-direction: column;
}

.container{
  display: flex;
  width: 75%;
  height: 80vh;
  justify-content: center;
  align-items: center;
  
}

#box{
  display: grid;
  grid-template-columns: repeat(3,100px);
  grid-template-rows: repeat(3,100px);
  gap: 5px;
}

#btn{
  display: flex;
  width: 100%;
  height: 100%;
  background: #BDA8E2;
  justify-content: center;
  align-items: center; 
  font-size: 50px;
  box-shadow: 0 0 20px red;
}

#popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 0;
}

.hide{
  display: none !important;
}

.popup-box{
  width: 280px;
  padding: 25px;
  background: white;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 30px cyan;

  animation: popup .3s ease;
}

.popup-box h2{
  font-size: 30px;
  color: #333;
  margin-bottom: 20px;
}

.popup-box button{
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  background: #2d7cff;
  color: white;
  font-size: 18px;
}

@keyframes popup{
  from{
    transform: scale(.4);
    opacity:0;
  }
  to{
    transform: scale(1);
    opacity:1;
  }
}